<form action="/get" method="post" name="getForm">
    <div>
      <input type="text" placeholder="Uri" name="uri"></input>
    </div>
    <br /><br />
    <br /><br />
    <input type="submit"></input>
    <br /><br />
  </form>